.my-side-menu list-group-item {
    width: 200px;
}

.my-side-panel {
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}

.my-side-panel ul {
    list-style: circle outside none;
}

.my-side-panel h4 {
    font-family: sans-serif;
    font-size: 16px;
    color: #000000 !important;
}

.my-side-panel div {
    padding: 30px;
    padding-right: 70px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.my-side-panel a {
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: bold;
    color: #000000 !important;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 20px;
}

.list-group-item button {
    width: 100px;
}

.modal-backdrop
{
        opacity:0.5 !important;
}

.little-right-margin {
    margin-rigth: 50px;
}
.navbar-logo-img {
    margin-top: -30px !important;
}
.normalh2::after {
    content: "";
}


.form-main select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-main textarea{
    resize:none;
    overflow: hidden;
}
.form-main input[type="button"],
.form-main input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-main input[type="button"]:hover,
.form-main input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
